body{
    padding: 0%;
    margin: 0%;
    background: linear-gradient(#000, #0f0f0f);
}

.navbar-cont {
    background-color: #0f0f0f;
    display: flex;
    opacity: -35px;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    position: fixed;
    width: 100%;
    z-index: 6;
}

.navlink-cont {
    display: flex;
    justify-content: start;
}

.logo {
    width: 94   px;
    height: 26px;
    margin-right: 2rem;
    padding: 8px;
    margin-left: 45px;
    filter: saturate(6);
}

.nav-link {
    margin: 10px;
    font-family: 'Inter';
    text-decoration: 0px;
    letter-spacing: -0.7px;
    font-size: 14px;
    word-spacing: 2px;
    color: #fff;
}

a.nav-link:hover {
    color: #c1c1c1 ;
    transition: 40ms ease-in-out;
}

a.nav-link:active {
    color: #ffffff;    
    font-weight: 700;
}

a.nav-link:visited {
    color: #ffffff;    
    font-weight: 700;
}


.search-and-profiles {
    display: flex;
    justify-content: end;
    margin-left: 20px;
    align-items: center;
    align-content: end;
    padding-right: 40px;
}

.search-bar-cont {
    display: flex;
    align-items: center;
}

.search-bar:focus {
    outline: none;
}
.search-icon {
    width: 20px;
    height:20px;
    padding: 20px;
    cursor: pointer;
}

.search-bar {
    display: none;
    margin-right: 12px;
    border: solid;
    border-width: 1px;
    padding: 12px;
    animation: 1s ease-in-out;
    background-color: #0f0f0f;
    color:#fff;
}

.notification-icon {
    width: 30px;
    height: 30px;
    padding: 10px;
}

.profiles {
    width: 30px;
    height: 30px;
    padding: 10px;
    border: solid 0px;
    border-radius: 14px;  
}

.children {
    padding-right: 8px;
    font-family: 'Inter';
    color: #fff;
    text-decoration: 0px;
    font-size: 14px;
}

#myMovie {
    width: 100%;
    position: relative;
    z-index: 1;

}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(231, 231, 231, 0));
    z-index: 2; /* Ensure the overlay is above the video */
}

.home-video {
    width: 100%;
    height: 100vh;  
    object-fit: cover;
    position: relative;
    overflow: hidden;
}


.home-video .overlay {
    position: absolute;
    top: 40%;
    left: 0%;
    padding: 20px;
    color: #fff;
}


.home-video .overlay a {
    color: #fff; /* adjust as needed */
    text-decoration: none;
    margin-bottom: 20px;
}

.video {
    position: relative;
    filter: brightness(-40);
    height: auto;
    height: 100vh;
}

.movie-logo {
    width: 30%;
    height: 40%;
    padding-left: 20px;
}

.movie-para {
    font-family: 'Inter';
    width: 550px;
    padding: 20px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    box-shadow: #0f0f0f;
}

.buttons-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    align-content: center;
    position: relative;
    z-index: 4;
}

.movie-buttons {
    display: flex;
}

.mv-button-text {
    font-family: Inter;
    color: black;
    font-weight: bolder;
    border: solid 0px;
    background-color: #fff;
    cursor: pointer;
    font-size: 20px;
}

.play-cont {
    background-color: #ffffff;
    border: solid 0px;
    padding: 14px;
    border-radius: 6px;
    margin-right: 20px;
    margin-top: -12px;
    color: black;
    cursor: pointer;
    font-weight: bolder;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
    width: 120px;
}

.moreinfo-cont {
    background-color: #ffffff;
    border: solid 0px;
    padding: 14px;
    border-radius: 6px;
    margin-right: 20px;
    margin-top: -12px;
    color: black;
    cursor: pointer;
    font-weight: bolder;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
    width: 180px;
}

.play-info-cont {
    display: flex;
    justify-content: start;
}

.button {
    cursor:pointer;
    padding: 10px 20px;
    background:#000;
    color: #fff;
    border-radius: 4px;
    display: inline-block;
    position: relative; /* Add this line to make z-index work */
    z-index: 3; /* Set a higher z-index value */
    cursor: pointer;
}

.audio-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 35px;
    margin-right: 18px;
}

.sound {
    cursor: pointer;
    border: solid 2px;
    border-radius: 50%;
    padding: 12px;
    border-style: groove 1px;
    height: 40px;
    width: 40px;
    position: relative; /* Add this line to make z-index work */
    z-index: 3; /* Set a higher z-index value */
    cursor: pointer;
}

.cert {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: max-content;
    background-color: rgb(77,77,77,0.5);
    padding-left: 12px;
    border-left: 4px solid #ffffff;
    margin-left: 15px;
    padding-right: 12px;
}

.mv-cert {
    /* existing styles */
    margin-left: 10px; /* Adjust the padding as needed */
    color: #ffffff; /* Set the text color to white */
    font-family: Inter;
}

    .carousel {
        display: flex;
        overflow-x: hidden;
        padding: 30px;
        position: relative; /* Add this to make sure absolute positioning works */

    }
    

    .car-image-container {
        display: flex;
    }
    
    .carousel-item {
        box-sizing: border-box;
        flex: 1;
        position: relative;
        margin: 8px;
        width: 300px;
        transition: transform 0.2s ease-in-out;
        border-radius: 7px;
    }
    
    .carousel-item img {
        width: 300px;
        position: relative;
    }
    
    .carousel-item-overlay {
        background-color: #1a1a1a;
        position: relative;
        display: flex;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        padding-left: 10px;

    }

    
    .carousel-item:hover {
        transform: scale(1.3);
        z-index: 2;
        border-radius: 5px;
        border: 1px solid transparent;
    }
    
    .carousel-item:hover .carousel-item-overlay {
        opacity: 1;
        z-index: 2;
        
    }

    .sugg-1-text {
        font-family: Inter;
        font-weight: bolder;
        padding-left: 33px;
        font-size: 23px;
        color: #ffffff;
    }

    .carousel-2 {
        display: flex;
        overflow-x: hidden;
        padding: 30px;
        position: relative; /* Add this to make sure absolute positioning works */
        margin-top: -20px;

    }
    .sugg-2-text {
        font-family: Inter;
        font-weight: bolder;
        padding-left: 33px;
        font-size: 23px;
        color: #ffffff;
        margin-top: -40px;
    }
